* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 22px;
}

body {
    background-color: #242424;
}

.nav {
    width: 100vw;
    height: 80px;
    background-color: #1c1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.house {
    color: #006af5;
    margin-right: 20px;
    font-size: 28px;
}

.house:hover,
.house:active{
    color:#00bfff;

}

/* .textMenuSp, */
.textMenu {
    background-image: linear-gradient(to right,#006af5,rgb(0, 191, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    margin-left: 20px;
}
.textMenuSp {
    font-size: 36px;
    margin-left: 0;
}

.header {
    transition: 0.2s;
}


.view {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    margin-left: -100vw;
    height: calc(100vh - 140px);
    background-color: #242424;

    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap; */
    transition: 0.2s;
    animation: view 0.2s forwards;
}

@keyframes view {
    from {
        margin-left: -100vw;
    }

    to {
        margin-left: 0px;
    }
}

.container {
    background-color: #211f1f;
    width: 100vw;
    /* height: 1 */
/* 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0 50px 0;
}

h2 {
    height: auto;
    /* text-align: center; */
    background-image: linear-gradient(to right,#006af5,#00bfff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 5px;
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-size:max(8vw,50px);
}

.text-info {
    color: #00bfff;
    font-size: 22px;
    text-transform: uppercase;
    /* text-align: center; */
}

footer {
    position: absolute;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #1c1b1b;
    top: calc(100vh - 60px);
}

a {
    background-image: linear-gradient(to right,#006af5,#00bfff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

a::before {
    position: absolute;
    content: "";
    background-color: #00bfff;
    width:200px;
    height: 2px;
    left: 50%;
    top: 40px;
    transform: translate(-50%,0) scale(0);
    transition: 0.2s ease-in-out;
}

a:hover::before {
    transform: translate(-50%,0) scale(1);
    
}

a:active::before {
    transform: translate(-50%,0) scale(1);
}

@media (max-width:360px){
    .text-info {
        font-size: 6vw;
    }
}